@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  display: none;
  width: 2px;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  background: #3c7eda;

  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 12px 0 rgba(31, 93, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.welcome {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.badge {
  background: #b7cae1;
  padding: 0.2rem 0.5rem;
  margin: 0 0.5rem 0 0;
  border-radius: 1rem;
  font-size: 0.8rem;
}

button {
  background: #3c7eda;
  color: #b7cae1;
  border-radius: 1rem;
  padding: 0.2rem 1rem;
  margin: 0.5rem 1rem;
}
